In [6]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: requests>=2.26 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from yfinance) (4.8.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.74
Note: you may need to restart the kernel to use updated packages.

In [7]:
import yfinance as yf

In [9]:
AMZ = yf.Ticker("AMZN")

AMZ

yfinance.Ticker object <AMZN>

In [12]:
AMZ_historical = AMZ.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

AMZ_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,8.794500,8.974000,8.777500,8.951500,102216000,0,0
2012-01-04,8.960500,9.025000,8.803500,8.875500,84104000,0,0
2012-01-05,8.797000,8.912500,8.702500,8.880500,76182000,0,0
2012-01-06,8.903500,9.232500,8.875000,9.130500,140168000,0,0
2012-01-09,9.138000,9.218500,8.850000,8.928000,101138000,0,0
...,...,...,...,...,...,...,...
2021-12-27,171.037003,172.942993,169.215500,169.669495,58688000,0,0
2021-12-28,170.182495,172.175995,169.135498,170.660995,54638000,0,0
2021-12-29,170.839996,171.212006,168.600494,169.201004,35754000,0,0
2021-12-30,169.699997,170.888000,168.524002,168.644501,37584000,0,0
2021-12-31,168.955994,169.350006,166.558502,166.716995,47830000,0,0

In [13]:
Google = yf.Ticker("GOOG")

Google

yfinance.Ticker object <GOOG>

In [14]:
Google_historical = Google.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

Google_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,16.262545,16.641375,16.248346,16.573130,147611217,0,0.0
2012-01-04,16.563665,16.693678,16.453827,16.644611,114989399,0,0.0
2012-01-05,16.491436,16.537264,16.344486,16.413727,131808205,0,0.0
2012-01-06,16.417213,16.438385,16.184088,16.189817,108119746,0,0.0
2012-01-09,16.102144,16.114599,15.472754,15.503389,233776981,0,0.0
...,...,...,...,...,...,...,...
2021-12-27,147.463501,148.426498,147.250000,148.063995,13256000,0,0.0
2021-12-28,148.374496,148.374496,145.935501,146.447998,18624000,0,0.0
2021-12-29,146.429504,147.183746,145.504501,146.504501,17022000,0,0.0
2021-12-30,146.449997,147.062500,145.758499,146.002502,12978000,0,0.0
2021-12-31,145.544006,146.365005,144.677505,144.679504,17298000,0,0.0

In [16]:
MS = yf.Ticker("MSFT")

MS

yfinance.Ticker object <MSFT>

In [17]:
MS_historical = MS.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

MS_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,21.350282,21.679985,21.221618,21.527197,64731500,0.0,0
2012-01-04,21.567402,22.090102,21.535237,22.033812,80516100,0.0,0
2012-01-05,22.017733,22.299187,21.945360,22.258980,56081400,0.0,0
2012-01-06,22.138350,22.669091,22.138350,22.604759,99455500,0.0,0
2012-01-09,22.556512,22.596720,22.291141,22.307224,59706800,0.0,0
...,...,...,...,...,...,...,...
2021-12-27,333.282464,340.256916,333.252660,340.227112,19947000,0.0,0
2021-12-28,340.922542,341.578262,338.110926,339.034882,15661500,0.0,0
2021-12-29,339.084572,342.065099,337.475093,339.730377,15042000,0.0,0
2021-12-30,339.690585,340.902667,336.620647,337.117401,15994500,0.0,0
2021-12-31,336.312689,337.157147,333.669951,334.136902,18000800,0.0,0

In [18]:
Apple = yf.Ticker("AAPL")

Apple

yfinance.Ticker object <AAPL>

In [19]:
Apple_historical = Apple.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

Apple_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,12.484244,12.578776,12.472047,12.540048,302220800,0.0,0.0
2012-01-04,12.502536,12.645249,12.480581,12.607435,260022000,0.0,0.0
2012-01-05,12.653484,12.763261,12.583957,12.747405,271269600,0.0,0.0
2012-01-06,12.800463,12.891335,12.783691,12.880662,318292800,0.0,0.0
2012-01-09,12.975196,13.043807,12.848645,12.860233,394024400,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-27,176.360215,179.676494,176.340308,179.586868,74919600,0.0,0.0
2021-12-28,179.417557,180.582734,177.794270,178.551132,79144300,0.0,0.0
2021-12-29,178.590981,179.885626,177.405882,178.640778,62348900,0.0,0.0
2021-12-30,178.730408,179.825881,177.356090,177.465637,59773000,0.0,0.0
2021-12-31,177.356103,178.491405,176.529522,176.838257,64062300,0.0,0.0

In [20]:
ORC = yf.Ticker("ORCL")

ORC

yfinance.Ticker object <ORCL>

In [21]:
ORC_historical = ORC.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

ORC_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,22.520048,22.802297,22.092398,22.118057,37911800,0.00,0
2012-01-04,22.195036,22.434519,21.852914,22.246353,45418500,0.00,0
2012-01-05,22.246356,23.007572,22.160825,22.742430,50873400,0.00,0
2012-01-06,22.810854,23.221397,22.545711,23.033232,55685000,0.00,0
2012-01-09,23.058947,23.247534,22.853217,23.170385,38481100,0.06,0
...,...,...,...,...,...,...,...
2021-12-27,88.623400,89.245844,87.951561,88.465324,7666200,0.00,0
2021-12-28,88.623407,88.722213,87.457569,87.586014,5610500,0.00,0
2021-12-29,87.437819,88.119540,86.667182,87.151299,5628500,0.00,0
2021-12-30,87.586008,87.842889,86.716565,86.953690,7382400,0.00,0
2021-12-31,86.993214,87.042609,86.133653,86.163292,5908200,0.00,0

In [26]:
ORC_historical.to_csv("./ORC_historical.csv")

In [27]:
Apple_historical.to_csv("./Apple_historical.csv")

In [28]:
MS_historical.to_csv("./MS_historical.csv")

In [29]:
Google_historical.to_csv("./Google_historical.csv")

In [31]:
AMZ_historical.to_csv("./AMZ_historical.csv")